$blue: #4361ee;

.root {
	padding: 20px 40px !important;
	overflow-y: auto;
	height: 30vh;
	.itemDisable {
		&:hover {
			border: 1px solid #dedede !important;
			box-shadow: 0 0 0 1px #dedede !important;
		}
	}
	.item {
		position: relative;
		background-color: #fff;
		border: 1px solid transparent;
		border-radius: 6px;
		margin-right: 15px;

		&:hover {
			border: 1px solid $blue;
			box-shadow: 0 0 0 1px $blue;
			border: 1px solid #dedede;
			border-radius: 6px;
			transition: 0.3s;
			cursor: pointer;
			.editButtons {
				opacity: 1;
			}
		}
		.wrapper {
			width: 100%;
			display: flex;
			flex-direction: row;
		}
		.avatarWrapper {
			margin-right: 0;
		}
		.editButtons {
			position: absolute;
			right: 15px;
			top: 15px;
			background-color: rgba(255, 255, 255, 1);
			border-radius: 10px;
			opacity: 0;
			transition: all 0.15s ease-in-out;
			z-index: 100;
		}
		.avatarWrapper {
			margin-right: 0px;
		}
	}

	.itemReverse {
		.wrapper {
			width: 100%;
			display: flex;
			flex-direction: row-reverse;
			justify-content: center;
			.reverseTest {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content: center;
			}
		}
		.editButtons {
			position: absolute;
			left: 15px;
			top: 15px;
			width: auto;
			width: 30px;
			border-radius: 10px;
			opacity: 0;
			transition: all 0.15s ease-in-out;
			z-index: 100;
		}
		.avatarWrapper {
			margin-left: 10px;
		}
	}
	.dividerReverse {
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
	.divider {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
}
.rootChat {
	padding: 10px !important;
	.item {
		position: relative;
		background-color: #fff;
		border: 1px solid transparent;
		border-radius: 6px;
		margin-right: 15px;

		&:hover {
			border: 1px solid $blue;
			box-shadow: 0 0 0 1px $blue;
			border: 1px solid #dedede;
			border-radius: 6px;
			transition: 0.3s;
			cursor: pointer;
			.editButtons {
				opacity: 1;
			}
		}

		.avatarWrapper {
			margin-right: 0;
		}
	}
	.wrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		flex-wrap: nowrap;
		&:hover {
			cursor: pointer;
		}
	}
	.divider {
		margin-left: 0px;
		margin-right: 0px;
	}
}
.toogleConv {
	border:1px solid $blue;
	position: absolute;
	right: 0px;
	top: 25px;
}
.enter {
	opacity: 0;
}
.enterActive {
	opacity: 1;
	transition: opacity 0.5s ease-in;
}
.exitActive {
	opacity: 1;
	transition: opacity 0.5s ease-in;
}
.exitDone {
	opacity: 0;
	transition: opacity 0.5s ease-in;
}
.exit {
	opacity: 0;
	transition: opacity 0.5s ease-in;
}
.rootWrite {
	display: flex;
	margin-top: 10px;
	padding-bottom: 20px;
	margin-right: 40px;
	margin-left: 55px;
}

.avatar {
	margin-right: 15px;
}

.noClick {
	pointer-events: none;
}

.form {
	width: 100%;

	button {
		margin-top: 10px;
	}
}
