$blue: #4361ee;

.root {
  width: 98% ;

  .item {
    position: relative;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 6px;
    &:hover {
      border: 1px solid $blue;
      box-shadow: 0 0 0 1px $blue;
      border: 1px solid #dedede;
      border-radius: 6px;
      transition: .3s;
      cursor: pointer;
      .divider{
        border:none;
      }
      .editButtons{
        opacity: 1;
       }
    }
    .wrapper{
      width: 100%;
      display: flex;
      flex-direction: row;
    }
    .avatar{
      border:2px solid transparent;
      transition: .3s;
      &:hover{
        border: 2px solid $blue;
        transition: .3s;
      }
    }
  }
  
  .editButtons {
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.15s ease-in-out;
    z-index: 100;
  }
}
.enter {
	opacity: 0;
}
.enterActive {
	opacity: 1;
	transition: opacity .5s ease-in;
}



